#
# some aliases
#

case $TERM in

    sun-cmd )
	alias winheader='echo -n "]l$(hostname) : ${PWD}\";echo -n "]L$(hostname)\"'
    ;;

    xterm )
	alias winheader='echo -n "]2;"$(hostname)" : ${PWD}]1;"$(hostname)""'
    ;;

    * )
	alias winheader='echo -n ""'
    ;;
esac

ls () {
    /bin/ls -aCF $* | ${PAGER:-more}
}

cd () {
    builtin cd $*;
    winheader;
}

winheader

function ptime()
{
        perl -e 'print scalar localtime('$*'), "\n";'
}

wiki()
{
    lookup=${1// /_}
    dig +short txt $lookup.wp.dg.cx
}

alias apache-start="sudo /opt/local/apache2/bin/apachectl start"
alias apache-restart="sudo /opt/local/apache2/bin/apachectl restart"
alias apache-stop="sudo /opt/local/apache2/bin/apachectl stop"
